{% set hashtags = hashtags if hashtags is defined else [] %}
# LinkedIn Post

## Headline
{{ headline }}

## Post
{{ body }}

## CTA
{{ cta }}

{% if hashtags %}
## Hashtags
{% for tag in hashtags %}#{{ tag }} {% endfor %}
{% endif %}
