{% set hashtags = hashtags if hashtags is defined else [] %}
{{ hook }}

{{ thread_intro }}

{% for point in points %}
{{ loop.index }}. {{ point }}
{% endfor %}

{{ cta }}
{% if hashtags %}
{% for tag in hashtags %}#{{ tag }} {% endfor %}
{% endif %}
